# Entorno virtual
env/

# Archivos de Python y cachés
__pycache__/
*.pyc

# Archivos de Jupyter
.ipynb_checkpoints/

# Configuración de VSCode (opcional)
.vscode/

# Datos grandes o temporales
*.csv
*.json
*.xlsx
*.zip
data_raw/

# Otros
.DS_Store
